@import "../style_utils";

.detail-block{
  width: 80%;
  margin: auto auto 20px auto;
  position: relative;
  & .block-name{
    border-radius: $border-radius-small;
    padding: 10px;
    background-color: $color-primary;
    color: white;
    @include xsmall{
      font-size: 13px;
    }
  }
  & .block-content{
    padding: 20px;
    background-color: $color-lightgrey;
  }
  & .arrow{
    width: 21px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: 20px;
    &--down{
    transform: rotate(180deg);
    }
  }
}