@import "../style_utils";

.detail-block{
  width: 80%;
  margin: auto auto 20px auto;
  & .block-name{
    border-radius: $border-radius-small;
    padding: 10px;
    background-color: $color-primary;
    color: white;
  }
  & .block-string{
    padding: 20px;
    background-color: $color-lightgrey;
    display: none;
  }
}