@import '../style_utils.scss';

.header-container{
  width: 85%;
  margin: auto auto 50px auto;
  & .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & .header-logo{
      @include xsmall{
        width: 40%;
      }
    }
  }
}
.header-nav{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include small{
    width: 30%;
  }
  @include xsmall{
    width: 45%;
    font-size: 12px;
    justify-content: space-around;
  }
}
