@import "../style_utils.scss";

.accommodation{
  width: 85%;
  margin: auto auto 50px auto;
  & .info-accommodation{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include xsmall{
      margin-bottom: 0px;
    }
    & .info-details{
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      @include xsmall{
        flex-direction: column;
        align-items: normal;
        position: relative;
      }
    }
  }
}

.info{
  width: 80%;
  &__title{
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    @include xsmall{
      font-size: 20px;
    }
  }
  &__tags{
    margin-top: 10PX;
    display: flex;
    @include xsmall{
      font-size: 12px;
    }
  }
}

.owner{
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  @include xsmall{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
  }
  &__name{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    margin-right: 10px;
    @include xsmall{
      font-size: 12px;
    }
  }
  &__picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @include xsmall{
      width: 50px;
      height: 50px;
    }
  }
}

.rating{
  margin: 16px 0px;
  & .star{
    @include xsmall{
      width: 12px;
      height: 12px;
    }
  }
}

.detail-blocks{
  display: flex;
  justify-content: space-between;
  @include xsmall{
    flex-direction: column;
  }
  & .detail-block{
    width: 48%;
    margin: 0px;
    @include xsmall{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}