@import "../style_utils.scss";

.accommodation{
  width: 85%;
  margin: auto auto 50px auto;
  & .info-accommodation{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include xsmall{
      margin-bottom: 0px;
    }
    & .info-details{
      display: flex;
      margin-bottom: 20px;
      //position: relative;
      @include xsmall{
        flex-direction: column;
        align-items: normal;
      }
    }
  }
}

.info{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include xsmall{
    width: 100%;
  }
  &__title{
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    @include xsmall{
      font-size: 20px;
    }
  }
  &__tags{
    margin-top: 10PX;
    display: flex;
    @include xsmall{
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.ownerAndRatings{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include xsmall{
    flex-direction: row-reverse;
  }
}

.owner{
  display: flex;
  &__name{
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 10px;
    @include xsmall{
      font-size: 12px;
      width: 55px;
    }
  }
  &__picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    @include xsmall{
      width: 50px;
      height: 50px;
    }
  }
}

.rating{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  @include xsmall{
    align-items: center;
  }
  & .star{
    width: 25px;
    height: 25px;
    @include xsmall{
      width: 12px;
      height: 12px;
    }
  }
}

.detail-blocks{
  display: flex;
  justify-content: space-between;
  @include xsmall{
    flex-direction: column;
  }
  & .detail-block{
    width: 48%;
    margin: 0px;
    @include xsmall{
      width: 100%;
      margin-bottom: 20px;
      font-size: 13px;
    }
  }
}