@import '../style_utils';

.home-container{
  width: $width-standard;
  margin: auto;
  & .gallery{
    background-color: $color-lightgrey;
    border-radius: $border-radius-standard;
    padding: 20px;
    margin-bottom: 30px;
    & ul{
      padding-inline-start: 0px;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}